<!--The content below is only a placeholder and can be replaced.-->
<div >
  <h1>Архив метеослужбы</h1>
  <div >
    <button (click)="drawGraph('temperature',yearFrom,yearTo)" type="button" class="btn btn-primary">Температура</button>
    <button (click)="drawGraph('precipitation',yearFrom,yearTo)" type="button" class="btn btn-success ml-3">Осадки</button>
  </div>
  <div class="d-flex w-25 mt-2">
  <select [(ngModel)]="yearFrom" class="custom-select" id="inputGroupSelect01">
      <option *ngFor="let year of years;index as i" [value]="year">{{year}}</option>
    </select>
    <select [(ngModel)]="yearTo"  class="custom-select ml-2" id="inputGroupSelect02">
      <option *ngFor="let year of years;index as i" [value]="year">{{year}}</option>
    </select>
  </div>
  <canvas id="myChart"></canvas>
</div>


